@using Microsoft.AspNetCore.Mvc.ModelBinding
@using WebProject.Models.auth
@model LoginModel
@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = "Login";
}

<div class="register-form-control">
    <h1 class="form-title">
        <h1 class="form-title">@ViewData["Title"]</h1>
        <form action="~/Login/Login" method="post">
            <div class="form-fields">
                <div class="form-field">
                    @if (Model.Errors != null && Model.Errors.ContainsKey("Email") != false)
                    {
                        <label class="text-danger">*@Model.Errors["Email"]</label>
                    }
                    <input type="email" name="Email" placeholder="Your Email" />
                </div>
                <div class="form-field">
                    @if (Model.Errors != null && Model.Errors.ContainsKey("Password") != false)
                    {
                        <label class="text-danger">*@Model.Errors["Password"]</label>
                    }
                    <input type="password" name="Password" placeholder="Your Password" />
                </div>
            </div>

            <div class="form-buttons">
                <button class="button" type="submit" asp-action="Login">Login</button>
                <div class="divider">OR</div>
                <a href="~/Login/Registration" class="button-google button ">Registration</a>
            </div>
        </form>
    </h1>
</div>



